Repository sambanova/generative_data_prep, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snova-virens, @snova-ranjanl, @snova-mattw

.github/CODEOWNERS:

# Please use teams as codeowners and refrain from using individuals

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence

*       @snova-virens 

.github @snova-ranjanl @snova-mattw
pyproject.toml @snova-ranjanl @snova-mattw
setup.cfg @snova-ranjanl @snova-mattw
.pre-commit-config.yaml @snova-ranjanl @snova-mattw
.circleci @snova-ranjanl @snova-mattw
docs @snova-ranjanl @snova-mattw

add circleci config
  .circleci/config.yml
Owners: @snova-ranjanl, @snova-mattw

add precommit hooks
  .pre-commit-config.yaml
  setup.cfg
Owners: @snova-ranjanl, @snova-mattw

add manifest
  .github/CONTRIBUTING.rst
  CONTRIBUTING.md
  MANIFEST.in
Owners: @snova-ranjanl, @snova-mattw, @snova-virens

add docs
  .pre-commit-config.yaml
  docs/Makefile
  docs/make.bat
  docs/source/_templates/custom-class-template.rst
  docs/source/_templates/custom-module-template.rst
  docs/source/conf.py
  docs/source/contributing_link.rst
  docs/source/index.rst
  docs/source/readme_link.rst
Owners: @snova-ranjanl, @snova-mattw

address comments
  generative_data_prep/__main__.py
  generative_data_prep/data_prep/data_prep.py
  generative_data_prep/data_prep/pipeline.py
  generative_data_prep/processors/article_tokenizer.py
  generative_data_prep/utils/utils.py
Owners: @snova-virens

fix
  tests/test_article_tokenizer.py
Owners: @snova-virens

fix test again
  tests/test_article_tokenizer.py
Owners: @snova-virens

format
  tests/test_article_tokenizer.py
Owners: @snova-virens

one more fix
  generative_data_prep/__main__.py
Owners: @snova-virens
